*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hero{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Header and navigation styles */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 85px;
}
.banner-subtitle{
    margin-bottom: 5px;
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}
.banner-paragraph{
    margin-bottom: 30px;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}
.btn-secondary{
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid;
    border-color: #FD6E0A;
    padding: 18px 35px;
    height: 64px;
    background: none;
    border-radius: 5px;
    margin-left: 30px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 131px 156px;
}
.section-heading{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-paragraph{
    color: #757575;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}
.info-description{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}


/* what i do */

.what-i-do{
    margin-top: 130px;
}

.what-i-do .section-paragraph{
    padding: 30px 156px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-title{
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0 20px 0;
}
.skills-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.section-paragraph{
    font-weight: 400;
    font-size: 16px;
}

/* resume */

.resume{
    margin-top: 130px;
}